body {
    margin: 0;
    height: 100%;
    font-size: larger;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.header {
    padding: 15px 0;
    background-color: #ffffff;
}

.header-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 0px solid green;
}

.logo-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 80%;
    border: 0px solid green;
}

.logo-content-img {
    border: 0px solid #42515f;
}

.headerContainer {
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    background: rgb(75, 91, 236);
    font-weight: bold;
    margin-bottom: 20px;
}

.add-text {
    font: normal normal bold 22px/25px Montserrat;
    font-family: "Montserrat", sans-serif;
    letter-spacing: 0px;
    color: #2284e9;
    text-transform: capitalize;
}

.form-content.form-items {
    width: 100%;
    box-sizing: border-box;
    font-size: 1em;
    margin-top: 0.5em;
    padding: 0.5em;
}

.add-book {
    color: #42515f;
}

* {
    box-sizing: border-box;
}

.form-content {
    display: flex;
    justify-content: center;
    background-color: whitesmoke;
    align-items: center;
    border: 0px solid #82a70c;
    min-height: calc(100%-80px);
}

.form {
    width: 65%;
    padding: 44px 60px;
    background: #ffffff 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border: 1px solid rgb(240, 235, 235);
    border-radius: 8px;
    opacity: 1;
}

.form-head {
    color: white;
    letter-spacing: 0px;
    text-transform: capitalize;
    background-color: #2284e9;
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    font-weight: bold;
    margin-bottom: 20px;
}

.label {
    min-width: 140px;
    padding-left: 50px;
    padding-right: 50px;
}

label {
    padding: 12px 12px 12px 40px;
    display: inline-block;
}

input[type="text" i] {
    width: 80%;
    padding: 12px 12px 12px 12px;
    border: 1px solid #BDBDBD;
    border-radius: 4px;
    resize: vertical;
    margin-right: 40px;
    margin-left: 40px;
    margin-bottom: 20px;
}

input[type="add" i] {
    width: 80%;
    padding: 12px 12px 12px 12px;
    border: 1px solid #BDBDBD;
    border-radius: 4px;
    resize: vertical;
    margin-right: 40px;
    margin-left: 40px;
    margin-bottom: 20px;
    padding-bottom: 60px;
}

input[type="location"] {
    width: 23%;
    padding: 12px 12px 12px 12px;
    margin-top: 30px;
    margin-left: 40px;
    margin-right: 7px;
    margin-bottom: 20px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #BDBDBD;
    border-radius: 3px;
    opacity: 1;
}

.buttonParent {
    display: flex;
    margin-bottom: 10px;
    justify-content: space-between;
    margin-top: 20px;
}

.submit-reset {
    margin-right: 100px
}

button {
    width: 110px;
    height: 53px;
    margin-top: 30px;
    margin-left: 40px;
    margin-right: 0px;
    background: #E2E2E2 0% 0% no-repeat padding-box;
    border: 1px solid #969696;
    border-radius: 5px;
    opacity: 1;
}

.cancelButton {
    width: 110px;
    height: 53px;
    margin-top: 30px;
    margin-left: 100px;
    background: #E2E2E2 0% 0% no-repeat padding-box;
    text-align: center;
    border: 1px solid #969696;
    border-radius: 5px;
    opacity: 1;
    padding-top: 15px;
    text-decoration: none;
    color: #2e3031;
    margin-left: 50px;
    
}

error-output {
    font-size: 12px;
    font-style: italic;
    color: red;
}

@media only screen and (max-width: 960px) {
    .cancelButton {
        margin-left: 40px;
    }
    .form {
        width: 85%;
        padding: 44px 20px;
    }
}

@media only screen and (max-width: 600px) {
    .form {
        margin-top: 10px;
    }
    .row {
        flex-direction: column;
    }
    .uploadButton {
        justify-content: flex-start;
    }
    .submit-reset {
        width: 100%;
        display: flex;
        flex-grow: 1;
        flex-direction: row-reverse;
        justify-content: space-between;
        margin-bottom: 20px;
    }
    .submitButton {
        margin: 0;
    }
    .buttonParent {
        flex-direction: column-reverse;
        align-items: flex-start;
    }
}